[submodule "themes/hugo-theme-stack"]
	path = themes/hugo-theme-stack
	url = https://github.com/dinooo13/hugo-theme-stack.git
[submodule "themes/content"]
	path = themes/content
	url = https://github.com/dinooo13/fmeyer.dev-content
